MainWindow #runners {
    width: 10;
}
ActionLabel {
    border: solid $text-accent;
    color: $text-primary;
    min-width: 10;
}

MainWindow #targets {
    width: 15;
}

Task {
    border: blank;
    color: $text-secondary;
    min-width: 10;
}

Task:hover {
    border:  solid $text-accent;
}
Task:focus {
    border:  solid $text-primary;
}


#stop {
    dock: left;
    display: none;
}

#start {
    dock: left;
    display: none;
}
